*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}


.topic > h1{
    height: 100px;
    width: 300px;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

.topic {
    display: flex;
    flex-direction: row;
}

.topic > a{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-decoration-line: none;
    /* background-color: beige; */
}

.head{
    display: flex;
    
}


.head > .head1{
    
    flex-basis: 70%;
    justify-content: center;
    /* background-color: aliceblue; */
    /* background-color: beige; */
}

.photo {
    height: 400px;
    width: 500px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
}



.photo  img{
    height: 300px;
    width: 300px;
    border-radius: 30px 30px 30px 50%;
    
}

.last{
    width: 25%;
    /* border: 2px solid black; */
    /* background-color: bisque; */
}

.last{
    height: 20px;
    width: 50vw;
    display: flex;
    justify-content: center;

}

.head1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align:start;
    align-items: center;
    gap: 10px;
    }

.head1>h2{
    width: 50%;

    /* background-color: rgb(238, 238, 9); */
}

.head1 > h1{
    width: 50%;
}

.head1 > p{
    width: 50%;
}


i{
    font-size: larger;
}







