.outer{
    background-color: red;
    /* height: 100%;       ----no color because parent height is 0 */
   /* vh-view port height */
   /* vw-view port weight */
    height: 100vh;
    width: 80vw;
}


.outer > .inner{
    height: 50vh;
    background-color: green;
}